# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Node / React
node_modules/
dist/
build/
.eslintcache

# Project specific
vattu_index/
*.xlsx
*.xls
.DS_Store

back_end/AI_models/
back_end/temp_data.xlsx