# Logs
logs
*.log
npm-debug.log*

# Thư viện và file tạm (QUAN TRỌNG)
node_modules
.vite            <-- PHẢI THÊM DÒNG NÀY ĐỂ HẾT KẸT FILE
dist
dist-ssr
*.local

# File môi trường (Để máy nhà dùng IP .18, máy cơ quan dùng .105)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Editor
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store