# Tìm ở kho PyTorch CPU trước
--extra-index-url https://download.pytorch.org/whl/cpu

# Để pip tự tìm bản 2.x.x nào mới nhất mà có +cpu
torch
torchvision
torchaudio

# Các thư viện phụ trợ
fastapi
uvicorn
pandas
openpyxl
pyyaml
fastembed
faiss-cpu